:root {
  // ========COLORS===========
  --yellow-default-color: #f8d24e;
  --green-accent-color: #0a8817;
  --grey-disabled-color: #ababab;
  --white-color: #fff;
  --black-color: #000;
  --main-green-color: #84a178;
  --light-green-color: #aec6a5;
  --darkened-yellow-color: #efd478;
  --brown-color: #d6936d;
  --light-grey-color: #d9d9d9;
  --dark-grey-color: #7a7a7a;
  --yellow-default: #f8d24e;

  //   transparent colors
  --transparent-yellow: rgba(248, 210, 78, 0.1);

  //   ==========FONT COLORS=============
  --main-text-color: #fcfcfc;
  --black-text-color: #131313;

  //   ============FONTS===========
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-seymour-one: 'Seymour One', sans-serif;

  //   ============ANIMATION===========
  --animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
