<div class="hero-header container">
  <header class="page-header">
    <a class="logo link" href="./index.html">
      <picture>
        <source
          srcset="
            ./images/desktop/desk-header-icon-1x.png 1x,
            ./images/desktop/desk-header-icon-2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/tablet/tablet-header-icon-1x.png 1x,
            ./images/tablet/tablet-header-icon-2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/mobile/mob-header-icon-1x.png 1x,
            ./images/mobile/mob-header-icon-2x.png 2x
          "
          media="(max-width: 767px)"
        />

        <img src="./images/mobile/mob-header-icon-1x.png" alt="ice cream" />
      </picture>
    </a>
    <nav class="nav-site">
      <ul class="nav-site__list list">
        <li class="nav-site__item">
          <a
            class="nav-site__link link nav-site__link_current"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="nav-site__item">
          <a class="nav-site__link link" href="./partials/about.html"
            >How it’s made?</a
          >
        </li>
        <li class="nav-site__item">
          <a class="nav-site__link link" href="./partials/products.html"
            >Our products</a
          >
        </li>
        <li class="nav-site__item">
          <a class="nav-site__link link" href="./partials/contacts.html"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
    <ul class="page-header-btn">
      <li class="page-header-btn__item page-header-btn__mobile-menu">
        <button type="button" class="open-mobile-menu-btn js-open-menu">
          <svg class="open-mobile-menu-btn__icon">
            <use href="#"></use>
          </svg>
        </button>
      </li>
      <li class="page-header-btn__item">
        <div class="page-header-btn-box__buy">
          <button type="button" class="page-header-btn__buy button">
            Buy now
          </button>
          <svg class="page-header-btn__buy-icon" width="24" height="24">
            <use href="#"></use>
          </svg>
        </div>
      </li>
    </ul>
  </header>
  <div class="mobile-menu js-menu-container">
    <div class="mobile-menu__container container">
      <a class="mobile-menu-logo link" href="./index.html">
        <picture>
          <source
            srcset="
              ./images/tablet/tablet-header-icon-1x.png 1x,
              ./images/tablet/tablet-header-icon-2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/mobile/mob-header-icon-1x.png 1x,
              ./images/mobile/mob-header-icon-2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img src="./images/mobile/mob-header-icon-1x.png" alt="ice cream" />
        </picture>
      </a>
      <button type="button" class="mobile-menu__close-btn js-close-menu">
        <svg class="mobile-menu__close-icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__item">
          <a
            class="mobile-menu__link mobile-menu__link_current link"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="./partials/about.html"
            >How it’s made?</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="./partials/products.html"
            >Our products</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="./partials/contacts.html"
            >Contact</a
          >
        </li>
      </ul>
      <div class="button-box__buy">
        <button type="submit" class="subscrip-btn button">Buy now</button>
        <svg
          aria-label="arrow icon"
          class="button-icon-footer"
          width="24"
          height="24"
        >
          <use href="./images/sprite.svg"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="page-hero-box">
    <h1 class="page-hero-box__title">
      ice cream made with <span class="page-hero-box__title-span">passion</span>
    </h1>
    <ul class="page-hero-box__list list">
      <li class="page-hero-box__item">
        <a class="page-hero-box__link link" href="./partials/products.html">
          <button type="button" class="page-hero-box__link-btn">
            Products
          </button>
        </a>
      </li>
      <li class="page-hero-box__item">
        <a class="page-hero-box__link link" href="./partials/about.html">
          <button type="button" class="page-hero-box__link-btn">
            How it’s made?
          </button>
        </a>
      </li>
    </ul>
  </div>
  <ul class="page-hero__list-info list">
    <li class="page-hero__item-info">
      <p class="page-hero__text-info-numb">16</p>
      <p class="page-hero__text-info">cafes</p>
    </li>
    <li class="page-hero__item-info">
      <p class="page-hero__text-info-numb">23</p>
      <p class="page-hero__text-info">food trucks</p>
    </li>
  </ul>
  <div class="many-ice-cream-box">
    <picture class="many-ice-cream-box__img">
      <source
        srcset="
          ./images/desktop/desk-hero-many_ice_cream-1x.png 1x,
          ./images/desktop/desk-hero-many_ice_cream-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet/tablet-hero-many_ice_cream-1x.png 1x,
          ./images/tablet/tablet-hero-many_ice_cream-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        src="./images/tablet/tablet-hero-many_ice_cream-1x.png"
        alt="ice cream"
      />
    </picture>
    <p class="many-ice-cream-box__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
  </div>
  <picture class="hero-header-img__points">
    <source
      srcset="
        ./images/desktop/desk-hero-points-1x.png 1x,
        ./images/desktop/desk-hero-points-2x.png 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/tablet/tablet-hero-points-1x.png 1x,
        ./images/tablet/tablet-hero-points-2x.png 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/mobile/mob-hero-points-1x.png 1x,
        ./images/mobile/mob-hero-points-2x.png 2x
      "
      media="(max-width: 767px)"
    />

    <img src="./images/mobile/mob-hero-points-1x.png" alt="ice cream" />
  </picture>
  <div class="ice-cream-box">
    <picture class="hero-header-img__ice-cream">
      <source
        srcset="
          ./images/desktop/desk-hero-ice_cream-1x.png 1x,
          ./images/desktop/desk-hero-ice_cream-1x.png 2x
        "
        media="(min-width: 1200px)"
      />

      <source
        srcset="
          ./images/tablet/desk-hero-ice_cream-1x.png 1x,
          ./images/tablet/desk-hero-ice_cream-1x.png 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./images/mobile/desk-hero-ice_cream-1x.png 1x,
          ./images/mobile/desk-hero-ice_cream-1x.png 2x
        "
        media="(max-width: 767px)"
      />

      <img src="./images/desktop/desk-hero-ice_cream-1x.png" alt="ice cream" />
    </picture>
  </div>
</div>
