.button-up {
  position: fixed;
  right: 40px;
  bottom: 40px;

  z-index: 9;
}
.button-up__link {
  fill: currentColor;
  color: var(--yellow-default-color);

  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--green-accent-color);
  }
}
