.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  &_products {
    font-size: 8px;
    line-height: calc(10 / 8);
    background-color: transparent;
    color: #000000;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 62px;
    height: 24px;

    border: 2px solid #f8d24e;
    border-radius: 8px;

    &:hover {
      border-color: #0a8817;
    }
    &:focus {
      border-color: #0a8817;
      color: #fcfcfc;
      outline: none;
    }

    &:disabled {
      border-color: #ababab;
    }
    @media screen and (min-width: 1200px) {
      width: 134px;
      height: 42px;
      font-size: 14px;
      line-height: calc(18 / 14);
      border-radius: 10px;
    }
  }

  &_read {
    font-size: 14px;
    line-height: calc(18 / 14);

    width: 164px;
    height: 42px;

    border-radius: 10px;
    border-width: 0;
    background-color: #f8d24e;
    color: #000000;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #0a8817;
    }
    &:focus {
      background-color: #0a8817;
      color: #fcfcfc;
    }

    &:disabled {
      background-color: #ababab;
    }
  }

  &_how-made {
    font-size: 8px;
    line-height: calc(10 / 8);

    background-color: transparent;
    color: #f8d24e;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 83px;
    height: 24px;

    border: none;

    &:hover {
      color: #0a8817;
    }
    &:focus {
      color: #fcfcfc;
    }

    &:disabled {
      color: #ababab;
    }
    @media screen and (min-width: 1200px) {
      width: 154px;
      height: 40px;
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }

  &_location {
    font-size: 14px;
    line-height: calc(18 / 14);

    width: 196px;
    height: 42px;

    border-radius: 10px;
    border-width: 0;
    background-color: #f8d24e;
    color: #000000;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #0a8817;
    }
    &:focus {
      background-color: #0a8817;
      color: #fcfcfc;
    }
    &:disabled {
      background-color: #ababab;
    }
  }

  &_location {
    font-size: 14px;
    line-height: calc(18 / 14);

    width: 196px;
    height: 42px;

    border-radius: 10px;
    border-width: 0;
    background-color: #f8d24e;
    color: #000000;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #0a8817;
    }
    &:focus {
      background-color: #0a8817;
      color: #fcfcfc;
    }

    &:disabled {
      background-color: #ababab;
    }
  }

  &_franchise {
    font-size: 14px;
    line-height: calc(18 / 14);
    background-color: transparent;
    color: #000000;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 196px;
    height: 42px;

    border: 2px solid #f8d24e;
    border-radius: 10px;

    &:hover {
      border-color: #0a8817;
    }
    &:focus {
      border-color: #0a8817;
      color: #fcfcfc;
    }
  }

  &_buy {
    font-size: 14px;
    line-height: calc(18 / 14);

    width: 196px;
    height: 42px;

    border-radius: 10px;
    border-width: 0;
    background-color: #f8d24e;
    color: #000000;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #0a8817;
    }
    &:focus {
      background-color: #0a8817;
      color: #fcfcfc;
    }

    &:disabled {
      background-color: #ababab;
    }
  }
}

.btn-svg {
  fill: currentColor;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-span {
  margin-right: 6px;
}
