// .container {
//     min-width: 320px;
//     max-width: 480px;
//     padding: 0 20px;
//     margin-left: auto;
//     margin-right: auto;
// }

// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 768px;
//         padding: 0 32px;
//     }
// }

// @media screen and (min-width: 1200px) {
//     .container {
//         max-width: 1200px;
//         padding: 0 16px;
//     }
// }

/* // .container__one {
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }

// @media screen and (min-width: 320px) {
//     .container {
//         min-width: 320px;

//     }
// }

// @media screen and (max-width: 767px) {
//     .container {
//         max-width: 480px;
//         min-width: 320px;
//         padding-left: 20px;
//         padding-right: 20px;
//     }
// }

// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 768px;
//         padding-left: 60px;
//         padding-right: 60px;
//     }
// }

// @media screen and (min-width: 1200px) {
//     .container {
//         max-width: 1200px;
//     }
// } */

.franchise-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: var(--main-text-color);

    border: 2px solid var(--yellow-default);
    border-radius: 10px;

    @media screen and (min-width: 480px) {
        width: 568px;
    }
}

.franchise-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;

    cursor: pointer;

    width: 25px;
    height: 25px;

    border: none;
    background-color: var(--main-text-color);
}

.franchise-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;

    cursor: pointer;

    width: 16px;
    height: 16px;
}

.franchise__title {
    font-family: var(--font-seymour-one);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;

    margin-top: 28px;
    margin-left: 29px;
    margin-right: 30px;

    color: var(--black-text-color);

    @media screen and (min-width: 480px) {
        font-size: 19px;
    }
}

.franchise__text {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;

    margin-top: 20px;
    margin-left: 29px;
    margin-right: 30px;

    color: var(--black-text-color);

    @media screen and (min-width: 481px) {
        font-size: 15px;
    }
}

.franchise__form {
    background-color: var(--main-text-color);
    width: 100%;
    margin-top: 20px;
}

.franchise-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    background-color: var(--main-text-color);
}

.input-container {
    position: relative;
    transition: var(--animation);

    display: flex;
    flex-direction: column;

    border-radius: 10px;

    text-align: center;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--main-green-color);
}

.modal-input {
    width: 100%;
    height: 32px;

    max-width: 364px;

    background: var(--transparent-yellow);
    border: 1px solid var(--main-green-color);
    border-radius: 10px;

    padding-left: 12px;

    @media screen and (min-width: 480px) {
        width: 364px;
        height: 42px;
    }
}

.comment {
    width: 100%;
    height: 64px;
    resize: none;

    padding-top: 8px;
    background: var(--transparent-yellow);
    border: 1px solid var(--main-green-color);
    border-radius: 10px;

    @media screen and (min-width: 480px) {
        width: 364px;
        height: 84px;
    }
}

.submit-btn {
    margin-top: 24px;
    margin-bottom: 28px;

    transition: var(--animation);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 34px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--black-text-color);
    background-color: var(--yellow-default);

    border: none;
    border-radius: 10px;

    cursor: pointer;

    &:hover {
        background-color: var(--green-accent-color);
    }

    &:focus {
        background-color: var(--green-accent-color);
        color: var(--main-text-color);
    }

    @media screen and (min-width: 480px) {
        font-size: 14px;
    }
}