.customer-reviews__list {
  margin-top: 128px;
  margin-bottom: 100px;
  text-align: center;
}
.customer-reviews__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  border-radius: 44px;

  background-color: #6e6e6e;
}
.customer-reviews__text {
  margin-bottom: 30px;
  padding: 34px 39px;

  font-size: 12px;
  line-height: 2.55;

  text-align: center;

  color: #fcfcfc;

  background-color: #84a178;
  border-radius: 10px;
  @media screen and (min-width: 480px) {
    min-height: 160px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    padding: 28px 80px;

    min-height: 138px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;

    text-align: center;
    letter-spacing: 0.04em;

    border-radius: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 43px 109px;

    font-size: 16px;
  }
}
.customer-reviews__container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 480px;
  @media screen and (min-width: 768px) {
    padding: 0 32px;
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 116px;
    max-width: 1200px;
  }
}

.customer-reviews__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;

  text-align: center;

  color: #131313;

  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
  }
}
