h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.gallery {
  position: relative;

  margin-left: auto;
  margin-right: auto;
}
.gallery__container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 480px;
  @media screen and (min-width: 768px) {
    padding: 0 32px;
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 94px;
    max-width: 1200px;
  }
}
.gallery__img {
  width: 100%;
  border-radius: 8px;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }
  @media screen and (min-width: 1200px) {
    border-radius: 24px;
  }
}
