.page-hero-heder {
  background-color: #84a178;
}
.hero-header {
  position: relative;
}
.page-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-box {
  display: flex;
}
.page-header-btn {
  display: flex;
  list-style: none;
  align-items: center;
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  fill: #ffffff;
}
.open-mobile-menu-btn__icon {
  width: 24px;
  height: 16px;
}
.page-header-btn-box__buy {
  position: relative;
}
.page-header-btn__buy {
  display: flex;
  align-items: center;
  padding: 12px 34px;
  width: 152px;
  height: 42px;
}
.page-header-btn__buy-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 34px;
}
.page-hero-box {
  display: flex;
  flex-direction: column;
}
.page-hero-box__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
.page-hero-box__list {
  display: flex;
  column-gap: 8px;
}
// .page-hero-box__btn {
//   padding: 12px 34px;
//   width: 134px;
//   height: 42px;
// }
.points {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .img {
    width: 100%;
  }
  .hero-header {
    width: 480px;
    padding-top: 110px;
    padding-bottom: 239px;
  }
  .page-header {
    top: 10px;
    width: 440px;
  }
  .nav-site__list {
    display: none;
  }
  .page-header-btn-box__buy {
    display: none;
  }

  .page-hero-box {
    row-gap: 32px;
    max-width: 247px;
  }
  .page-hero-box__title {
    font-size: 26px;
    line-height: 1.27;
  }
  .page-hero-box__title-span {
    font-size: 34px;
    line-height: 0.97;
  }
  .page-hero__list-info {
    display: none;
  }
  .many-ice-cream {
    display: none;
  }
  .ice-cream {
    position: absolute;
    width: 170px;
    height: 219px;
    bottom: 0;
    left: 27%;
  }
  .ice-cream__box-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(252, 252, 252, 0.44);
    filter: blur(28px);
  }
  .ice-cream__box-img {
    position: absolute;
    width: 157px;
    height: 208px;
    bottom: 0;
  }
  .ice-cream__img-smile-one {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 81px;
    height: 78px;
  }
  .ice-cream__img-smile-two {
    position: absolute;
    top: 49px;
    left: 25px;
    width: 64px;
    height: 62px;
  }
  .ice-cream__img-smile-three {
    position: absolute;
    top: 76px;
    right: 3px;
    width: 83px;
    height: 83px;
  }
}

@media screen and (min-width: 768px) {
  .hero-header {
    width: 768px;
    padding-top: 104px;
    padding-bottom: 193px;
  }
  .page-header {
    top: 20px;
    width: 704px;
  }
  .nav-site__list {
    display: none;
  }
  .page-header-btn {
    column-gap: 32px;
  }
  .page-hero-box {
    row-gap: 20px;
    width: 181px;
  }
  .page-hero-box__title {
    font-size: 18px;
    line-height: 1.28;
  }
  .page-hero-box__title-span {
    font-size: 34px;
    line-height: 0.54;
  }
  .page-hero__list-info {
    position: absolute;
    top: 94px;
    right: 32px;
  }
  .page-hero__item-info {
    margin-bottom: 20px;
  }
  .page-hero__text-info-numb {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    letter-spacing: 0.04em;
    color: #131313;
  }
  .page-hero__text-info {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #fcfcfc;
  }
  .many-ice-cream {
    display: flex;
    column-gap: 33px;
    position: absolute;
    left: 32px;
    bottom: 13px;
    align-items: center;
    z-index: 99;
  }
  .many-ice-cream__text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 151px;
    font-size: 12px;
    line-height: 1.4;
    color: #fcfcfc;
    &::after {
      content: '';
      width: 41px;
      height: 16px;
      background-image: url('../images/tablet/arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .ice-cream {
    position: absolute;
    width: 266px;
    height: 342px;
    bottom: 0;
    left: 54.5%;
  }
  .ice-cream__box-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(252, 252, 252, 0.44);
    filter: blur(28px);
  }
  .ice-cream__box-img {
    position: absolute;
    width: 257px;
    height: 325px;
    bottom: 0;
  }
  .ice-cream__img-smile-one {
    position: absolute;
    top: 7px;
    right: 17px;
    width: 127px;
    height: 122px;
  }
  .ice-cream__img-smile-two {
    position: absolute;
    top: 77px;
    left: 40px;
    width: 101px;
    height: 95px;
  }
  .ice-cream__img-smile-three {
    position: absolute;
    top: 118px;
    right: 3px;
    width: 131px;
    height: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-header {
    width: 1200px;
    padding-top: 118px;
    padding-bottom: 402px;
  }
  .page-header {
    top: 8px;
    width: 1168px;
  }
  .nav-site__list {
    display: flex;
    column-gap: 27px;
  }
  .nav-site__link {
    color: #fcfcfc;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.02em;

    transition: color var(--transition-dur-fun);
    &:hover,
    &:focus {
      color: #f8d24e;
    }
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .page-hero-box {
    row-gap: 40px;
    width: 367px;
  }
  .page-hero-box__title {
    font-size: 38px;
    line-height: 0.8;
  }
  .page-hero-box__title-span {
    font-size: 38px;
    line-height: 0.8;
  }
  .page-header-btn {
    column-gap: 0;
  }

  .page-hero__list-info {
    position: absolute;
    top: 126px;
    right: 16px;
  }
  .many-ice-cream {
    column-gap: 14px;
    left: 17px;
    bottom: 65px;
  }
  .many-ice-cream__text {
    row-gap: 32px;
    width: 200px;
    font-size: 14px;
  }
  .ice-cream {
    position: absolute;
    width: 477px;
    height: 590px;
    bottom: 0;
    left: 54%;
  }
  .ice-cream__box-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(252, 252, 252, 0.44);
    filter: blur(50px);
  }
  .ice-cream__box-img {
    position: absolute;
    width: 456px;
    height: 561px;
    bottom: 0;
  }
  .ice-cream__img-smile-one,
  .ice-cream__img-smile-two,
  .ice-cream__img-smile-three {
    display: none;
  }
}
