// .hero-header {
//   position: relative;
//   background-color: #84a178;
// }
// .page-header {
//   position: absolute;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .logo-box {
//   display: flex;
// }
// .page-header-btn {
//   display: flex;
//   list-style: none;
// }

// .open-mobile-menu-btn {
//   line-height: 0;
//   border: none;
//   background-color: transparent;
//   padding: 0;
//   width: 32px;
//   height: 32px;
//   fill: #ffffff;
// }
// .open-mobile-menu-btn__icon {
//   width: 24px;
//   height: 16px;
// }
// .page-hero-box {
//   display: flex;
//   flex-direction: column;
// }
// .page-hero-box__title {
//   font-family: 'Seymour One';
//   font-style: normal;
//   font-weight: 400;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;
//   color: #fcfcfc;
// }
// .page-hero-box__list {
//   display: flex;
//   column-gap: 8px;
// }
// .hero-header-img__points {
//   position: absolute;
//   width: 100%;
//   left: 0;
//   bottom: 0;
// }

// @media screen and (max-width: 767px) {
//   .hero-header {
//     width: 480px;
//     padding-top: 110px;
//     padding-bottom: 239px;
//   }
//   .page-header {
//     top: 10px;
//     width: 440px;
//   }
//   .nav-site__list {
//     display: none;
//   }
//   .page-header-btn-box__buy {
//     display: none;
//   }

//   .page-hero-box {
//     row-gap: 32px;
//     max-width: 247px;
//   }
//   .page-hero-box__title {
//     font-size: 26px;
//     line-height: 1.27;
//   }
//   .page-hero-box__title-span {
//     font-size: 34px;
//     line-height: 0.97;
//   }
//   .page-hero__list-info {
//     display: none;
//   }
//   .many-ice-cream-box {
//     display: none;
//   }
// }
// @media screen and (min-width: 768px) {
//   .hero-header {
//     width: 768px;
//     padding-top: 104px;
//     padding-bottom: 193px;
//   }
//   .page-header {
//     top: 20px;
//     width: 704px;
//   }
//   .nav-site__list {
//     display: none;
//   }
//   .page-header-btn {
//     column-gap: 32px;
//   }
//   .page-hero-box {
//     row-gap: 20px;
//     width: 181px;
//   }
//   .page-hero-box__title {
//     font-size: 18px;
//     line-height: 1.28;
//   }
//   .page-hero-box__title-span {
//     font-size: 34px;
//     line-height: 0.54;
//   }
//   .page-hero__list-info {
//     position: absolute;
//     top: 94px;
//     right: 32px;
//   }
//   .page-hero__item-info {
//     margin-bottom: 20px;
//   }
//   .page-hero__text-info-numb {
//     font-weight: 900;
//     font-size: 28px;
//     line-height: 1.21;
//     text-align: right;
//     letter-spacing: 0.04em;
//     color: #131313;
//   }
//   .page-hero__text-info {
//     font-weight: 400;
//     font-size: 8px;
//     line-height: 1.25;
//     text-align: right;
//     color: #fcfcfc;
//   }
//   .many-ice-cream-box {
//     display: flex;
//     column-gap: 33px;
//     position: absolute;
//     left: 32px;
//     bottom: 13px;
//     align-items: center;
//     z-index: 99;
//   }
//   .many-ice-cream-box__text {
//     display: flex;
//     flex-direction: column;
//     row-gap: 20px;
//     width: 151px;
//     font-size: 12px;
//     line-height: 1.4;
//     color: #fcfcfc;
//     &::after {
//       content: '';
//       width: 41px;
//       height: 16px;
//       background-image: url('../images/tablet/arrow.svg');
//       background-size: contain;
//       background-repeat: no-repeat;
//     }
//   }
// }
// @media screen and (min-width: 1200px) {
//   .hero-header {
//     width: 1200px;
//     padding-top: 118px;
//     padding-bottom: 402px;
//   }
//   .page-header {
//     top: 8px;
//     width: 1168px;
//   }
//   .nav-site__list {
//     display: flex;
//     column-gap: 27px;
//   }
//   .nav-site__link {
//     color: #fcfcfc;
//     font-weight: 700;
//     line-height: 1.25;
//     letter-spacing: 0.02em;

//     transition: color var(--transition-dur-fun);
//     &:hover,
//     &:focus {
//       color: #f8d24e;
//     }
//   }
//   .open-mobile-menu-btn {
//     display: none;
//   }
//   .page-header-btn {
//     column-gap: 0;
//   }
//   .page-hero__list-info {
//     position: absolute;
//     top: 126px;
//     right: 16px;
//   }
//   .many-ice-cream-box {
//     column-gap: 14px;
//     left: 17px;
//     bottom: 65px;
//   }
//   .many-ice-cream-box__text {
//     row-gap: 32px;
//     width: 200px;
//     font-size: 14px;
//   }
//   .ice-cream-box {
//     position: absolute;
//     width: 477px;
//     height: 589px;
//     bottom: 0;
//     left: 55%;
//     background-color: rgba(252, 252, 252, 0.44);
//     filter: blur(50px);
//   }
//   .hero-header-img__ice-cream {
//     position: absolute;
//     width: 100%;
//     height: auto;
//     z-index: 999;
//   }
// }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-hero__container {
  position: relative;
  padding-bottom: 240px;
  padding-top: 12px;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 13px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0;
    padding-bottom: 65px;
  }
}
.navigation {
  display: flex;
}
.site-nav {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 27px;
  }
}
.btn-box {
  display: flex;
}
.logo {
  @media screen and (min-width: 1200px) {
    margin-right: 269px;
  }
}
.site-nav__link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--yellow-default-color);
  }
}
.btn-mobile-menu {
  background-color: inherit;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.header__btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header-hero__title {
  max-width: 247px;
  margin-bottom: 28px;
  margin-top: 45px;

  font-family: 'Seymour One', sans-serif;

  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    max-width: 181px;
    font-size: 18px;
    line-height: 1.28;
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 367px;
    font-size: 38px;
    line-height: 1.26;
    margin-top: 60px;
  }
}
.header-hero__label {
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 0.54;
  }
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.26;
  }
}
.btn-container {
  display: flex;
  gap: 8px;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    gap: 12px;
    margin-bottom: 42px;
  }
}
.btn_link {
  display: flex;
  align-items: center;
}
.ice-table-container {
  position: relative;

  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 0 184px;
    min-height: 152px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 234px;
    min-height: 225px;
  }
}
.ice-table-img {
  position: absolute;
  left: 0;
  z-index: 1;
}
.ice-table-text {
  font-size: 12px;
  line-height: 1.4;
  @media screen and (min-width: 768px) {
    max-width: 184px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    max-width: 220px;
  }
}
.text-container {
  position: relative;
}
.arrow-icon {
  position: absolute;
  display: none;
  @media screen and (min-width: 768px) {
    bottom: -20px;
    display: block;
  }
  @media screen and (min-width: 1200px) {
    bottom: -32px;
  }
}
.how-many-shops {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 0;
    top: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  @media screen and (min-width: 1200px) {
    row-gap: 16px;
  }
}
.how-many-shops__number {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.22;
  text-align: right;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;

  margin-bottom: 4px;
}
.how-many-shops__text {
  font-size: 14px;
  line-height: 1.21;

  text-align: right;
}

.ice-cream-img {
  position: absolute;
  bottom: 0;
  right: 81px;
  @media screen and (max-width: 767px) {
    width: 48%;
  }
  @media screen and (min-width: 768px) {
    right: 95px;
  }
  @media screen and (min-width: 1200px) {
    right: 100px;
  }
}
.points-img {
  position: absolute;
  right: 0;
  bottom: 0;
  @media screen and (max-width: 769px) {
    width: 100%;
  }
}
